<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BehaviorTreeEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BehaviorTreeEditor.Properties.Settings>
            <setting name="EditorTitle" serializeAs="String">
                <value>行为树编辑器</value>
            </setting>
            <setting name="WorkDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyRight" serializeAs="String">
                <value>jingwen</value>
            </setting>
            <setting name="NodeClassFile" serializeAs="String">
                <value>NodeClass.xml</value>
            </setting>
            <setting name="NodeDesignerDataFile" serializeAs="String">
                <value>NodeDesignerData.xml</value>
            </setting>
            <setting name="NodeDataFileSuffix" serializeAs="String">
                <value>.bytes</value>
            </setting>
            <setting name="NodeDataSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkSpaceSetupSuffix" serializeAs="String">
                <value>.workspace.xml</value>
            </setting>
            <setting name="WorkSpaceName" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveWarnning" serializeAs="String">
                <value>是否保存修改?</value>
            </setting>
            <setting name="设置" serializeAs="String">
                <value />
            </setting>
        </BehaviorTreeEditor.Properties.Settings>
    </userSettings>
</configuration>